### Rent Stabilization and PLUTO Data

In [1]:
# Read data

import pandas as pd
df = pd.read_csv("./MLC_SP23/clean_data/rs_shares_19_21.csv", low_memory=False)
df.head()

,bbl,rs_units_19,rs_units_20,rs_units_21,total_units_19,total_units_20,total_units_21,boro,cd,ct_10,year_built,bldg_class,rs_share_19,rs_share_20,rs_share_21
0,1000780047,483,483,483,483,483,483,1,101,1502,2016,D8,1.00,1.0000,1.0000
1,1001350019,4,4,4,4,4,4,1,101,21,1915,K4,1.00,1.0000,1.0000
2,1001620013,15,15,14,20,20,20,1,103,29,1915,C7,0.75,0.7500,0.7000
3,1001630024,12,13,15,16,16,16,1,103,29,1915,C7,0.75,0.8125,0.9375
4,1001630033,11,11,11,11,11,11,1,103,29,1915,C7,1.00,1.0000,1.0000

In [2]:
# Create a new column for the target variable. 

df['rs_share_diff'] = df['rs_share_21'] - df['rs_share_19']

In [3]:
# Leave only the necessary cols 

df = df[['bbl','rs_share_diff', 'total_units_19', 'boro', 'cd', 'ct_10', 'year_built']]
df

              bbl  rs_share_diff  total_units_19  boro   cd  ct_10  year_built
0      1000780047       0.000000             483     1  101   1502        2016
1      1001350019       0.000000               4     1  101     21        1915
2      1001620013      -0.050000              20     1  103     29        1915
3      1001630024       0.187500              16     1  103     29        1915
4      1001630033       0.000000              11     1  103     29        1915
...           ...            ...             ...   ...  ...    ...         ...
39001  4001360036       1.000000               7     4  402  25301        1924
39002  4019390011       1.000000              68     4  404  44301        2016
39003  4049590008       0.857143               7     4  407    869        1930
39004  4052630021       1.042553              47     4  407   1155        1929
39005  5000180090       0.631579              19     5  501     11        1931

[39006 rows x 7 columns]

### Eviction Data

In [4]:
# Read data

eviction = pd.read_csv('./MLC_SP23/clean_data/Evictions_2019_cleaned.csv', index_col=[0])
eviction

               BBL  ejectment_count  possession_count  eviction_count
0     1.000158e+09                0               2.0             0.0
1     1.000160e+09                0               5.0             0.0
2     1.000168e+09                0               1.0             0.0
3     1.000168e+09                0               1.0             0.0
4     1.000168e+09                0               1.0             0.0
...            ...              ...               ...             ...
9906  5.078670e+09                0               1.0             0.0
9907  5.078800e+09                0               2.0             0.0
9908  5.078910e+09                0               1.0             0.0
9909  5.080260e+09                0               2.0             0.0
9910  5.080480e+09                0               1.0             0.0

[9911 rows x 4 columns]

In [5]:
eviction.columns = map(str.lower, eviction.columns)

In [6]:
# Merge data

df = df.merge(eviction, on='bbl', how = 'left').fillna(0)
df

,bbl,rs_share_diff,total_units_19,boro,cd,ct_10,year_built,ejectment_count,possession_count,eviction_count
0,1000780047,0.000000,483,1,101,1502,2016,0.0,0.0,0.0
1,1001350019,0.000000,4,1,101,21,1915,0.0,0.0,0.0
2,1001620013,-0.050000,20,1,103,29,1915,0.0,0.0,0.0
3,1001630024,0.187500,16,1,103,29,1915,0.0,0.0,0.0
4,1001630033,0.000000,11,1,103,29,1915,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
39001,4001360036,1.000000,7,4,402,25301,1924,0.0,0.0,0.0
39002,4019390011,1.000000,68,4,404,44301,2016,0.0,0.0,0.0
39003,4049590008,0.857143,7,4,407,869,1930,0.0,0.0,0.0
39004,4052630021,1.042553,47,4,407,1155,1929,0.0,2.0,0.0
39005,5000180090,0.631579,19,5,501,11,1931,0.0,0.0,0.0

### DCP Data

In [7]:
# Read data

dcp = pd.read_csv('./MLC_SP23/clean_data/HousingDB_post2010_completed_jobs_cleaned.csv', index_col=[0])
dcp.columns = map(str.lower, dcp.columns)
dcp

,bbl,aleration_count,altered_lessthan5yrs,altered_morethan5yrs,classanet_avg,enlargement_count
0,1000057501,1,0,1,0.0,0
1,1000080039,1,0,1,-21.0,0
2,1000110012,1,0,1,1.0,0
3,1000130027,1,0,1,0.0,0
4,1000150022,1,0,1,0.0,0
...,...,...,...,...,...,...
18346,5080400023,1,1,0,0.0,0
18347,5080460059,1,1,0,0.0,1
18348,5080470090,1,0,1,0.0,0
18349,5080480012,1,0,1,0.0,0
18350,5080500060,1,0,1,0.0,1

In [8]:
# Merge data

df = df.merge(dcp, on='bbl', how = 'left').fillna(0)
df

,bbl,rs_share_diff,total_units_19,boro,cd,ct_10,year_built,ejectment_count,possession_count,eviction_count,aleration_count,altered_lessthan5yrs,altered_morethan5yrs,classanet_avg,enlargement_count
0,1000780047,0.000000,483,1,101,1502,2016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001350019,0.000000,4,1,101,21,1915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001620013,-0.050000,20,1,103,29,1915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001630024,0.187500,16,1,103,29,1915,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001630033,0.000000,11,1,103,29,1915,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39001,4001360036,1.000000,7,4,402,25301,1924,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39002,4019390011,1.000000,68,4,404,44301,2016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39003,4049590008,0.857143,7,4,407,869,1930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39004,4052630021,1.042553,47,4,407,1155,1929,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
39005,5000180090,0.631579,19,5,501,11,1931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df[df['aleration_count'] > 0]

,bbl,rs_share_diff,total_units_19,boro,cd,ct_10,year_built,ejectment_count,possession_count,eviction_count,aleration_count,altered_lessthan5yrs,altered_morethan5yrs,classanet_avg,enlargement_count
4,1001630033,0.000000,11,1,103,29,1915,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
5,1001640049,0.000000,19,1,103,29,1915,0.0,0.0,0.0,1.0,1.0,0.0,-3.0,0.0
76,1004010028,0.000000,10,1,103,32,1920,0.0,0.0,0.0,1.0,0.0,1.0,2.0,1.0
136,1004510046,0.000000,9,1,103,40,1900,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0
166,1005020020,0.000000,20,1,102,49,1961,0.0,0.0,0.0,1.0,0.0,1.0,-2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38937,4097130159,1.000000,7,4,408,22002,2010,0.0,0.0,0.0,1.0,0.0,1.0,-1.0,0.0
38945,1003720023,0.083333,12,1,103,2202,2001,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
38954,1015430037,0.187500,16,1,108,138,1910,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
38963,2023590210,1.000000,208,2,201,71,1978,0.0,2.0,0.0,1.0,1.0,0.0,1.0,0.0
38994,3031720027,0.875000,8,3,304,425,2007,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

### 311 Data

In [10]:
# Read data

calls = pd.read_csv('./MLC_SP23/raw_data/calls_311_data.csv', index_col=[0])
calls

,BBL,HPD_calls_2017,HPD_calls_2018,HPD_calls_2019,HPD_calls_2020,HPD_calls_2021,HPD_calls_2022,HPD_calls_2017_19,DOB_calls_2017,DOB_calls_2018,DOB_calls_2019,DOB_calls_2020,DOB_calls_2021,DOB_calls_2022,DOB_calls_2017_19
0,0.000000e+00,11.0,47.0,42.0,13.0,19.0,85.0,100.0,124.0,69.0,60.0,48.0,21.0,17.0,253.0
1,1.000020e+09,0.0,0.0,1.0,0.0,0.0,7.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.000070e+09,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000078e+09,8.0,5.0,2.0,5.0,0.0,5.0,15.0,0.0,1.0,3.0,1.0,0.0,2.0,4.0
4,1.000100e+09,7.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,2.0,2.0,0.0,0.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242992,5.080490e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
242993,5.080500e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
242994,5.200060e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
242995,5.240010e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
242996,5.270001e+09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0

In [11]:
calls.isnull().values.any()

False

In [12]:
calls_col = ['BBL'] + ['HPD_calls_' + str(i) for i in range(2017,2020)] + ['DOB_calls_' + str(i) for i in range(2017,2020)]
calls_col

['BBL',
 'HPD_calls_2017',
 'HPD_calls_2018',
 'HPD_calls_2019',
 'DOB_calls_2017',
 'DOB_calls_2018',
 'DOB_calls_2019']

In [13]:
calls = calls[calls_col]
calls

,BBL,HPD_calls_2017,HPD_calls_2018,HPD_calls_2019,DOB_calls_2017,DOB_calls_2018,DOB_calls_2019
0,0.000000e+00,11.0,47.0,42.0,124.0,69.0,60.0
1,1.000020e+09,0.0,0.0,1.0,0.0,0.0,0.0
2,1.000070e+09,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000078e+09,8.0,5.0,2.0,0.0,1.0,3.0
4,1.000100e+09,7.0,0.0,0.0,0.0,2.0,2.0
...,...,...,...,...,...,...,...
242992,5.080490e+09,0.0,0.0,0.0,0.0,0.0,0.0
242993,5.080500e+09,0.0,0.0,0.0,1.0,0.0,0.0
242994,5.200060e+09,0.0,0.0,0.0,0.0,0.0,0.0
242995,5.240010e+09,0.0,0.0,0.0,0.0,0.0,0.0
242996,5.270001e+09,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
calls.columns = map(str.lower, calls.columns)

In [15]:
# Merge data

df = df.merge(calls, on='bbl', how = 'left').fillna(0)

### Code Violations Data

In [16]:
# Read data

code = pd.read_csv('./MLC_SP23/raw_data/violations_data.csv', index_col=[0])
code

,bbl,b_violations_2017,b_violations_2018,b_violations_2019,b_violations_2020,b_violations_2021,b_violations_2022,b_violations_2023,b_violations_2017_19,c_violations_2017,c_violations_2018,c_violations_2019,c_violations_2020,c_violations_2021,c_violations_2022,c_violations_2023,c_violations_2017_19
0,0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1000077501,1.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,3.0
2,1000157501,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,1000160100,1.0,1.0,1.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1000160185,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75189,5079390092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
75190,5080240014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
75191,5080260038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
75192,5080410012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
75193,5080490004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [17]:
code.isnull().values.any()

True

In [18]:
import numpy as np
code = code.replace(np.nan, 0)

In [19]:
code

,bbl,b_violations_2017,b_violations_2018,b_violations_2019,b_violations_2020,b_violations_2021,b_violations_2022,b_violations_2023,b_violations_2017_19,c_violations_2017,c_violations_2018,c_violations_2019,c_violations_2020,c_violations_2021,c_violations_2022,c_violations_2023,c_violations_2017_19
0,0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0
1,1000077501,1.0,1.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,3.0
2,1000157501,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
3,1000160100,1.0,1.0,1.0,1.0,1.0,0.0,0.0,3.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1000160185,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75189,5079390092,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
75190,5080240014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
75191,5080260038,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
75192,5080410012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
75193,5080490004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [20]:
code.isnull().values.any()

False

In [21]:
code_col = ['bbl'] + ['b_violations_' + str(i) for i in range(2017,2020)] + ['c_violations_' + str(i) for i in range(2017,2020)]
code_col

['bbl',
 'b_violations_2017',
 'b_violations_2018',
 'b_violations_2019',
 'c_violations_2017',
 'c_violations_2018',
 'c_violations_2019']

In [22]:
code = code[code_col]
code

,bbl,b_violations_2017,b_violations_2018,b_violations_2019,c_violations_2017,c_violations_2018,c_violations_2019
0,0,1.0,0.0,0.0,1.0,0.0,0.0
1,1000077501,1.0,1.0,0.0,1.0,1.0,1.0
2,1000157501,0.0,0.0,0.0,1.0,0.0,0.0
3,1000160100,1.0,1.0,1.0,0.0,1.0,0.0
4,1000160185,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
75189,5079390092,0.0,0.0,0.0,0.0,0.0,0.0
75190,5080240014,0.0,0.0,0.0,0.0,0.0,0.0
75191,5080260038,0.0,0.0,0.0,0.0,0.0,1.0
75192,5080410012,0.0,0.0,0.0,1.0,0.0,0.0
75193,5080490004,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df = df.merge(code, on='bbl', how = 'left').fillna(0)
df

,bbl,rs_share_diff,total_units_19,boro,cd,ct_10,year_built,ejectment_count,possession_count,eviction_count,...,hpd_calls_2019,dob_calls_2017,dob_calls_2018,dob_calls_2019,b_violations_2017,b_violations_2018,b_violations_2019,c_violations_2017,c_violations_2018,c_violations_2019
0,1000780047,0.000000,483,1,101,1502,2016,0.0,0.0,0.0,...,1.0,37.0,11.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001350019,0.000000,4,1,101,21,1915,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001620013,-0.050000,20,1,103,29,1915,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1001630024,0.187500,16,1,103,29,1915,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001630033,0.000000,11,1,103,29,1915,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39001,4001360036,1.000000,7,4,402,25301,1924,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39002,4019390011,1.000000,68,4,404,44301,2016,0.0,0.0,0.0,...,1.0,5.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
39003,4049590008,0.857143,7,4,407,869,1930,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39004,4052630021,1.042553,47,4,407,1155,1929,0.0,2.0,0.0,...,6.0,0.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0
39005,5000180090,0.631579,19,5,501,11,1931,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0

### Litigations Data

In [24]:
lit = pd.read_csv('./MLC_SP23/raw_data/litigations_data_for_model.csv', index_col=[0])
lit

,bbl,cases_2017,cases_2018,cases_2019,cases_2020,cases_2021,cases_2022,cases_2023,cases_2030,cases_2017_19,...,CONH_2017_19,Tenant Action/Harrassment_2017,Tenant Action/Harrassment_2018,Tenant Action/Harrassment_2019,Tenant Action/Harrassment_2020,Tenant Action/Harrassment_2021,Tenant Action/Harrassment_2022,Tenant Action/Harrassment_2023,Tenant Action/Harrassment_2030,Tenant Action/Harrassment_2017_19
0,1000157501,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000160020,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000160100,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
3,1000160185,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000167519,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27835,5079360007,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27836,5079970052,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27837,5080200185,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27838,5080240014,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
27839,5080280074,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
col_list = ['bbl'] + [col for col in lit.columns if ('2017' in col or '2018' in col or '2019' in col) and ('2017_19') not in col]
col_list

['bbl',
 'cases_2017',
 'cases_2018',
 'cases_2019',
 'Heat and Hot Water_2017',
 'Heat and Hot Water_2018',
 'Heat and Hot Water_2019',
 'Tenant Action_2017',
 'Tenant Action_2018',
 'Tenant Action_2019',
 'CONH_2017',
 'CONH_2018',
 'CONH_2019',
 'Tenant Action/Harrassment_2017',
 'Tenant Action/Harrassment_2018',
 'Tenant Action/Harrassment_2019']

In [26]:
lit = lit[col_list]

In [27]:
lit

,bbl,cases_2017,cases_2018,cases_2019,Heat and Hot Water_2017,Heat and Hot Water_2018,Heat and Hot Water_2019,Tenant Action_2017,Tenant Action_2018,Tenant Action_2019,CONH_2017,CONH_2018,CONH_2019,Tenant Action/Harrassment_2017,Tenant Action/Harrassment_2018,Tenant Action/Harrassment_2019
0,1000157501,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000160020,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000160100,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1000160185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1000167519,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27835,5079360007,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27836,5079970052,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
27837,5080200185,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27838,5080240014,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27839,5080280074,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
lit.isnull().values.any()

False

In [29]:
lit = lit.replace(np.nan, 0)

In [30]:
df = df.merge(lit, on='bbl', how = 'left').fillna(0)

In [31]:
df

,bbl,rs_share_diff,total_units_19,boro,cd,ct_10,year_built,ejectment_count,possession_count,eviction_count,...,Heat and Hot Water_2019,Tenant Action_2017,Tenant Action_2018,Tenant Action_2019,CONH_2017,CONH_2018,CONH_2019,Tenant Action/Harrassment_2017,Tenant Action/Harrassment_2018,Tenant Action/Harrassment_2019
0,1000780047,0.000000,483,1,101,1502,2016,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1001350019,0.000000,4,1,101,21,1915,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1001620013,-0.050000,20,1,103,29,1915,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1001630024,0.187500,16,1,103,29,1915,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1001630033,0.000000,11,1,103,29,1915,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39001,4001360036,1.000000,7,4,402,25301,1924,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39002,4019390011,1.000000,68,4,404,44301,2016,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39003,4049590008,0.857143,7,4,407,869,1930,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39004,4052630021,1.042553,47,4,407,1155,1929,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
39005,5000180090,0.631579,19,5,501,11,1931,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### ACS Data

In [32]:
# Read data 

acs = pd.read_csv("./MLC_SP23/clean_data/acs_bbl.csv", low_memory=False)
acs

,bbl,cd,tract_19,tract_21,hh_inc_avg_19,hh_inc_med_19,hh_inc_own_med_19,hh_inc_rent_med_19,own_cost_mort_med_19,own_cost_nomort_med_19,...,unit_occ_rent_nochild_pct_21,unit_rent_cash_pct_21,unit_rent_cash_low_pct_21,unit_rent_cash_moderate_pct_21,unit_rent_cash_mod_high_pct_21,unit_rent_cash_high_pct_21,rent_burden_pct_21,rent_burden_mod_pct_21,rent_burden_sev_pct_21,pop_race_div_idx_21
0,1012490146,107,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
1,1012500021,107,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
2,4020050027,404,36081042700,36081042700,69968.573731,63781.0,89375.0,56339.0,3485.0,1113.000000,...,0.323013,0.985774,0.280985,0.116299,0.405772,0.090832,0.508489,0.189304,0.319185,0.265569
3,4015570033,404,36081046900,36081046901,57073.005220,44450.0,43036.0,44556.0,1426.0,594.000000,...,0.270021,0.988706,0.119418,0.199377,0.445483,0.139148,0.650053,0.381760,0.268293,0.659184
4,1012490020,107,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43977,4007230065,401,36081016100,36081016100,86765.045992,74453.0,81875.0,73750.0,4001.0,1022.000000,...,0.455017,0.975779,0.046099,0.164894,0.320922,0.274823,0.528369,0.285461,0.242908,0.683290
43978,4108190001,412,36081050000,36081050000,65339.853626,56150.0,109531.0,54000.0,3060.0,780.762846,...,0.339198,0.935257,0.037622,0.601956,0.300978,0.020316,0.440933,0.224981,0.215952,0.549424
43979,1013420051,106,36061009800,36061009800,203334.629892,129167.0,191298.0,108719.0,4001.0,1237.000000,...,0.271569,0.925009,0.030303,0.181031,0.110193,0.408894,0.510429,0.175128,0.335301,0.450237
43980,1012490026,107,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686
43981,1012490115,107,36061017500,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,...,0.272473,0.989612,0.194187,0.193783,0.134033,0.079128,0.336698,0.138878,0.197820,0.493686

In [33]:
acs.isnull().values.any()

False

In [34]:
# Extract 2019 columns only

col_list = [col for col in acs.columns if '_21' not in col]
col_list

['bbl',
 'cd',
 'tract_19',
 'hh_inc_avg_19',
 'hh_inc_med_19',
 'hh_inc_own_med_19',
 'hh_inc_rent_med_19',
 'own_cost_mort_med_19',
 'own_cost_nomort_med_19',
 'own_burden_med_19',
 'own_burden_mort_med_19',
 'own_burden_nomort_med_19',
 'rent_gross_med_19',
 'rent_contract_med_19',
 'rent_burden_med_19',
 'pop_u18_pct_19',
 'pop_65p_pct_19',
 'pop_18_64_pct_19',
 'pop_own_pct_19',
 'pop_rent_pct_19',
 'pop_fam_pct_19',
 'pop_nonfam_pct_19',
 'pop_gq_pct_19',
 'pop_alone_pct_19',
 'pop_race_asian_pct_19',
 'pop_race_black_pct_19',
 'pop_race_white_pct_19',
 'pop_lim_eng_pct_19',
 'pop16_unemp_pct_19',
 'pop_pov_pct_19',
 'pop_edu_nohs_pct_19',
 'pop_edu_hs_pct_19',
 'pop_edu_somecoll_pct_19',
 'pop_edu_coll_pct_19',
 'pop_edu_grad_pct_19',
 'pop_edu_collp_pct_19',
 'pop_mobile1_same_home_pct_19',
 'pop_mobile1_same_county_pct_19',
 'pop_mobile1_same_state_pct_19',
 'pop_mobile1_diff_state_pct_19',
 'pop_mobile1_abroad_pct_19',
 'hh_family_pct_19',
 'hh_alone_pct_19',
 'hh_other_nonfam_pct_19',
 'hh_inc_earn_pct_19',
 'hh_inc_wage_pct_19',
 'hh_inc_self_emp_pct_19',
 'hh_inc_int_div_pct_19',
 'hh_inc_soc_sec_pct_19',
 'hh_inc_ssi_pct_19',
 'hh_inc_pubasst_pct_19',
 'hh_inc_pubasst_snap_pct_19',
 'hh_inc_retirement_pct_19',
 'hh_inc_other_pct_19',
 'unit_occ_pct_19',
 'unit_vac_pct_19',
 'unit_occ_own_pct_19',
 'unit_occ_rent_pct_19',
 'unit_vac_rent_pct_19',
 'unit_occ_rent_crowd_pct_19',
 'unit_occ_rent_sevcrowd_pct_19',
 'unit_occ_rent_child_pct_19',
 'unit_occ_rent_nochild_pct_19',
 'unit_rent_cash_pct_19',
 'unit_rent_cash_low_pct_19',
 'unit_rent_cash_moderate_pct_19',
 'unit_rent_cash_mod_high_pct_19',
 'unit_rent_cash_high_pct_19',
 'rent_burden_pct_19',
 'rent_burden_mod_pct_19',
 'rent_burden_sev_pct_19',
 'pop_race_div_idx_19']

In [35]:
acs = acs[col_list]
acs

,bbl,cd,tract_19,hh_inc_avg_19,hh_inc_med_19,hh_inc_own_med_19,hh_inc_rent_med_19,own_cost_mort_med_19,own_cost_nomort_med_19,own_burden_med_19,...,unit_occ_rent_nochild_pct_19,unit_rent_cash_pct_19,unit_rent_cash_low_pct_19,unit_rent_cash_moderate_pct_19,unit_rent_cash_mod_high_pct_19,unit_rent_cash_high_pct_19,rent_burden_pct_19,rent_burden_mod_pct_19,rent_burden_sev_pct_19,pop_race_div_idx_19
0,1012490146,107,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,9.0,...,0.200891,0.965573,0.259228,0.128356,0.113674,0.105285,0.312081,0.079279,0.232802,0.355284
1,1012500021,107,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,9.0,...,0.200891,0.965573,0.259228,0.128356,0.113674,0.105285,0.312081,0.079279,0.232802,0.355284
2,4020050027,404,36081042700,69968.573731,63781.0,89375.0,56339.0,3485.0,1113.000000,29.2,...,0.348133,1.000000,0.081736,0.367306,0.310797,0.173562,0.571723,0.296182,0.275542,0.208863
3,4015570033,404,36081046900,57073.005220,44450.0,43036.0,44556.0,1426.0,594.000000,19.1,...,0.405308,0.981107,0.168271,0.410821,0.331499,0.081614,0.585318,0.279533,0.305785,0.548866
4,1012490020,107,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,9.0,...,0.200891,0.965573,0.259228,0.128356,0.113674,0.105285,0.312081,0.079279,0.232802,0.355284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43977,4007230065,401,36081016100,86765.045992,74453.0,81875.0,73750.0,4001.0,1022.000000,40.2,...,0.433798,0.966899,0.086486,0.255856,0.324324,0.245045,0.488288,0.286486,0.201802,0.658629
43978,4108190001,412,36081050000,65339.853626,56150.0,109531.0,54000.0,3060.0,780.762846,30.3,...,0.309201,0.953997,0.073518,0.672727,0.218182,0.020553,0.498024,0.229249,0.268775,0.486512
43979,1013420051,106,36061009800,203334.629892,129167.0,191298.0,108719.0,4001.0,1237.000000,13.2,...,0.190257,0.939394,0.072683,0.085749,0.086158,0.312372,0.433238,0.206615,0.226623,0.408755
43980,1012490026,107,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,9.0,...,0.200891,0.965573,0.259228,0.128356,0.113674,0.105285,0.312081,0.079279,0.232802,0.355284
43981,1012490115,107,36061017500,257275.075804,165234.0,250001.0,104181.0,3521.0,993.000000,9.0,...,0.200891,0.965573,0.259228,0.128356,0.113674,0.105285,0.312081,0.079279,0.232802,0.355284

In [36]:
df = df.merge(acs, on='bbl', how = 'left')
df

,bbl,rs_share_diff,total_units_19,boro,cd_x,ct_10,year_built,ejectment_count,possession_count,eviction_count,...,unit_occ_rent_nochild_pct_19,unit_rent_cash_pct_19,unit_rent_cash_low_pct_19,unit_rent_cash_moderate_pct_19,unit_rent_cash_mod_high_pct_19,unit_rent_cash_high_pct_19,rent_burden_pct_19,rent_burden_mod_pct_19,rent_burden_sev_pct_19,pop_race_div_idx_19
0,1000780047,0.000000,483,1,101,1502,2016,0.0,0.0,0.0,...,0.172615,0.986616,0.019478,0.012522,0.020522,0.083478,0.326156,0.166961,0.159195,0.450691
1,1001350019,0.000000,4,1,101,21,1915,0.0,0.0,0.0,...,0.277924,0.969777,0.190379,0.031165,0.004743,0.000000,0.241661,0.149762,0.091899,0.457072
2,1001620013,-0.050000,20,1,103,29,1915,0.0,0.0,0.0,...,0.359562,0.967131,0.405767,0.342945,0.079300,0.118950,0.701854,0.336766,0.365088,0.612518
3,1001630024,0.187500,16,1,103,29,1915,0.0,0.0,0.0,...,0.359562,0.967131,0.405767,0.342945,0.079300,0.118950,0.701854,0.336766,0.365088,0.612518
4,1001630033,0.000000,11,1,103,29,1915,0.0,0.0,0.0,...,0.359562,0.967131,0.405767,0.342945,0.079300,0.118950,0.701854,0.336766,0.365088,0.612518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39001,4001360036,1.000000,7,4,402,25301,1924,0.0,0.0,0.0,...,0.246326,0.971193,0.062349,0.296005,0.461259,0.161017,0.523723,0.274331,0.249392,0.678053
39002,4019390011,1.000000,68,4,404,44301,2016,0.0,0.0,0.0,...,0.303390,1.000000,0.544915,0.070339,0.309322,0.075424,0.643301,0.367347,0.275954,0.374426
39003,4049590008,0.857143,7,4,407,869,1930,0.0,0.0,0.0,...,0.265060,0.950086,0.074275,0.228261,0.360507,0.221014,0.771037,0.252446,0.518591,0.162352
39004,4052630021,1.042553,47,4,407,1155,1929,0.0,2.0,0.0,...,0.352217,0.908867,0.089431,0.357724,0.390244,0.113821,0.602273,0.292614,0.309659,0.651452
39005,5000180090,0.631579,19,5,501,11,1931,0.0,0.0,0.0,...,0.221098,0.986994,0.256223,0.339678,0.187408,0.101025,0.566558,0.240260,0.326299,0.694332

In [37]:
df.isnull().values.any()

True

In [38]:
df[df.isna().any(axis=1)]

,bbl,rs_share_diff,total_units_19,boro,cd_x,ct_10,year_built,ejectment_count,possession_count,eviction_count,...,unit_occ_rent_nochild_pct_19,unit_rent_cash_pct_19,unit_rent_cash_low_pct_19,unit_rent_cash_moderate_pct_19,unit_rent_cash_mod_high_pct_19,unit_rent_cash_high_pct_19,rent_burden_pct_19,rent_burden_mod_pct_19,rent_burden_sev_pct_19,pop_race_div_idx_19
217,1006090037,0.000000,2,1,102,71,1920,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,1009390026,0.111111,9,1,106,70,1901,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,1015450051,-0.125000,8,1,108,138,1920,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5800,1006100024,0.000000,7,1,102,73,1839,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6116,1007310041,-1.333333,6,1,104,103,1926,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6337,1007670066,-1.074074,27,1,104,81,1901,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7099,1009390025,0.000000,7,1,106,70,1901,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7100,1009390027,-0.833333,18,1,106,70,1940,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7347,1010500049,-0.090000,100,1,104,115,1988,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8430,1012120053,-0.200000,60,1,107,165,1926,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9144,1013950038,0.000000,9,1,108,11402,1900,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9509,1014520030,-1.000000,7,1,108,134,1910,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9782,1015040020,-1.000000,91,1,108,16001,1900,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9799,1015080004,-0.125000,8,1,108,140,2020,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10187,1015450050,-0.125000,8,1,108,138,1920,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11347,1017350067,-0.900000,20,1,110,212,1900,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15632,2025820065,0.000000,163,2,201,31,2015,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23672,3016860051,0.000000,16,3,303,297,1906,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24165,3019010040,-1.000000,8,3,302,195,1905,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24827,3024280001,0.015326,522,3,301,551,2015,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24903,3024720100,-1.000000,359,3,301,563,2017,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25914,3030370010,-0.375000,16,3,301,485,2019,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25968,3030520019,-0.440000,25,3,301,505,2017,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26679,3032740001,0.393516,336,3,304,395,1954,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29312,3056100029,0.000000,8,3,312,222,2018,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32245,4005190006,0.000000,214,4,401,77,2011,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32580,4006120069,0.000000,65,4,401,59,1930,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33555,4034920025,0.000000,44,4,405,595,2017,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34729,4017000043,-1.000000,6,4,403,365,2016,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34844,4017750039,-1.000000,6,4,403,403,2015,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38179,3012540011,0.000000,5,3,308,31702,1910,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38256,3023570001,0.724638,69,3,301,555,2018,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38275,3027790039,0.000000,1,3,301,513,1920,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38276,3027850012,0.000000,2,3,301,513,2019,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38287,3031830011,0.000000,18,3,304,391,2016,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38388,3067480011,0.000000,48,3,314,538,2017,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38806,3032460051,0.500000,6,3,304,429,2017,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38964,2027230040,1.000000,97,2,202,89,1909,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df[df.isna().any(axis=1)].describe()

,bbl,rs_share_diff,total_units_19,boro,cd_x,ct_10,year_built,ejectment_count,possession_count,eviction_count,...,unit_occ_rent_nochild_pct_19,unit_rent_cash_pct_19,unit_rent_cash_low_pct_19,unit_rent_cash_moderate_pct_19,unit_rent_cash_mod_high_pct_19,unit_rent_cash_high_pct_19,rent_burden_pct_19,rent_burden_mod_pct_19,rent_burden_sev_pct_19,pop_race_div_idx_19
count,3.800000e+01,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000,38.0,38.000000,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,2.257288e+09,-0.233583,63.710526,2.236842,228.236842,1801.473684,1957.710526,0.0,0.026316,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.155217e+09,0.538624,113.972474,1.149247,113.652014,5862.171555,54.905771,0.0,0.162221,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.006090e+09,-1.333333,1.000000,1.000000,102.000000,31.000000,1839.000000,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.014093e+09,-0.735000,7.000000,1.000000,108.000000,92.500000,1909.250000,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,3.014700e+09,0.000000,16.000000,3.000000,301.000000,217.000000,1935.000000,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,3.031503e+09,0.000000,63.750000,3.000000,304.000000,511.000000,2016.750000,0.0,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.034920e+09,1.000000,522.000000,4.000000,405.000000,31702.000000,2020.000000,0.0,1.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
df['rs_share_diff'].describe()

count    39006.000000
mean        -0.196833
std          0.618844
min        -74.000000
25%         -0.250000
50%          0.000000
75%          0.000000
max         10.000000
Name: rs_share_diff, dtype: float64

In [41]:
df[df['bbl'] == 4000260003] # to be dropped

,bbl,rs_share_diff,total_units_19,boro,cd_x,ct_10,year_built,ejectment_count,possession_count,eviction_count,...,unit_occ_rent_nochild_pct_19,unit_rent_cash_pct_19,unit_rent_cash_low_pct_19,unit_rent_cash_moderate_pct_19,unit_rent_cash_mod_high_pct_19,unit_rent_cash_high_pct_19,rent_burden_pct_19,rent_burden_mod_pct_19,rent_burden_sev_pct_19,pop_race_div_idx_19
31657,4000260003,-1.0,6,4,402,1,1931,0.0,0.0,0.0,...,0.328964,0.978155,0.042564,0.011561,0.013663,0.06516,0.360447,0.204944,0.155502,0.620946

In [42]:
list(df.columns.values)

['bbl',
 'rs_share_diff',
 'total_units_19',
 'boro',
 'cd_x',
 'ct_10',
 'year_built',
 'ejectment_count',
 'possession_count',
 'eviction_count',
 'aleration_count',
 'altered_lessthan5yrs',
 'altered_morethan5yrs',
 'classanet_avg',
 'enlargement_count',
 'hpd_calls_2017',
 'hpd_calls_2018',
 'hpd_calls_2019',
 'dob_calls_2017',
 'dob_calls_2018',
 'dob_calls_2019',
 'b_violations_2017',
 'b_violations_2018',
 'b_violations_2019',
 'c_violations_2017',
 'c_violations_2018',
 'c_violations_2019',
 'cases_2017',
 'cases_2018',
 'cases_2019',
 'Heat and Hot Water_2017',
 'Heat and Hot Water_2018',
 'Heat and Hot Water_2019',
 'Tenant Action_2017',
 'Tenant Action_2018',
 'Tenant Action_2019',
 'CONH_2017',
 'CONH_2018',
 'CONH_2019',
 'Tenant Action/Harrassment_2017',
 'Tenant Action/Harrassment_2018',
 'Tenant Action/Harrassment_2019',
 'cd_y',
 'tract_19',
 'hh_inc_avg_19',
 'hh_inc_med_19',
 'hh_inc_own_med_19',
 'hh_inc_rent_med_19',
 'own_cost_mort_med_19',
 'own_cost_nomort_med_19',
 'own_burden_med_19',
 'own_burden_mort_med_19',
 'own_burden_nomort_med_19',
 'rent_gross_med_19',
 'rent_contract_med_19',
 'rent_burden_med_19',
 'pop_u18_pct_19',
 'pop_65p_pct_19',
 'pop_18_64_pct_19',
 'pop_own_pct_19',
 'pop_rent_pct_19',
 'pop_fam_pct_19',
 'pop_nonfam_pct_19',
 'pop_gq_pct_19',
 'pop_alone_pct_19',
 'pop_race_asian_pct_19',
 'pop_race_black_pct_19',
 'pop_race_white_pct_19',
 'pop_lim_eng_pct_19',
 'pop16_unemp_pct_19',
 'pop_pov_pct_19',
 'pop_edu_nohs_pct_19',
 'pop_edu_hs_pct_19',
 'pop_edu_somecoll_pct_19',
 'pop_edu_coll_pct_19',
 'pop_edu_grad_pct_19',
 'pop_edu_collp_pct_19',
 'pop_mobile1_same_home_pct_19',
 'pop_mobile1_same_county_pct_19',
 'pop_mobile1_same_state_pct_19',
 'pop_mobile1_diff_state_pct_19',
 'pop_mobile1_abroad_pct_19',
 'hh_family_pct_19',
 'hh_alone_pct_19',
 'hh_other_nonfam_pct_19',
 'hh_inc_earn_pct_19',
 'hh_inc_wage_pct_19',
 'hh_inc_self_emp_pct_19',
 'hh_inc_int_div_pct_19',
 'hh_inc_soc_sec_pct_19',
 'hh_inc_ssi_pct_19',
 'hh_inc_pubasst_pct_19',
 'hh_inc_pubasst_snap_pct_19',
 'hh_inc_retirement_pct_19',
 'hh_inc_other_pct_19',
 'unit_occ_pct_19',
 'unit_vac_pct_19',
 'unit_occ_own_pct_19',
 'unit_occ_rent_pct_19',
 'unit_vac_rent_pct_19',
 'unit_occ_rent_crowd_pct_19',
 'unit_occ_rent_sevcrowd_pct_19',
 'unit_occ_rent_child_pct_19',
 'unit_occ_rent_nochild_pct_19',
 'unit_rent_cash_pct_19',
 'unit_rent_cash_low_pct_19',
 'unit_rent_cash_moderate_pct_19',
 'unit_rent_cash_mod_high_pct_19',
 'unit_rent_cash_high_pct_19',
 'rent_burden_pct_19',
 'rent_burden_mod_pct_19',
 'rent_burden_sev_pct_19',
 'pop_race_div_idx_19']

1. Merging / Pre-Processing
2. Exploratory Data Analysis
3. Feature Engineering
4. Train, Test, Validation Split
5. Model Selection and Validation
6. Result and Analysis

In [43]:
df = df[(~df.isna().any(axis=1)) & (~(df['bbl'] == 4000260003))].reset_index(drop=True)

In [44]:
df.shape

(38967, 113)

In [45]:
df.to_csv('./merged_data.csv')